@import 'http://fonts.googleapis.com/css?family=Roboto';

/*color palette: #E78F8E light pink, #ECE2D0 eggshell, #8B8BAE light blue*/

body{
    background-color:#ECE2D0;
    font-family: "Roboto", sans serif;
    color:#330033;
}

header{   
    font-weight: 900;
}

article{
    font-weight:600;
    text-align:center
}
    /*TOPNAV DIV*/
/* topnav div info */
.topnav{
    font-weight: 900;
    overflow: hidden;
}

/* topnav links info */
.topnav a {
    float: left;
    color: #8B8BAE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* topnav hover link info */
.topnav a:hover {
    background-color: #8b8bae;
    color: #f2f2f2;
  }
  
  /* topnav active/current link */
  .topnav a.active {
    background-color: #E78F8E;
    color: #f2f2f2;
  }